<div style="font-family: cursive">
    This is just a 3D Render taken from somewhere on the internet
    <i class="fa-solid fa-feather"></i>
    <br>
    I didn't know what else to put here, sorry...
    <i class="fa-sharp fa-solid fa-face-grimace"></i>
 </div>
<body>
    
    
    <div class="sketchfab-embed-wrapper">
        <iframe width="100%" height="800"
            src="https://sketchfab.com/models/1c587dd0c424419ebb76284b7ef7d975/embed?autostart=1&amp;preload=1"
            frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>
    </div>
</body>