<div style="font-family: cursive">
    This ones are the Rick & Morty Characters taken from the API 
    <br>
    => https://rickandmortyapi.com/api/character
</div>

<body>
    <ul class="card-wrapper">
        <li class="card" *ngFor=" let object of rickYMortyApi">
            <div>
                <img src={{object.image}} alt="">
                <h3>
                    <div href=""><b>Name:</b> {{object.name}}</div>
                </h3>
                <p><b>Gender:</b> {{object.gender}}</p>
                <p><b>Specie:</b> {{object.species}}</p>
                <p><b>Status:</b> {{object.status}}</p>
            </div>
        </li>
    </ul>
</body>