<body>
    <nav class="navbar">

      <div class="logo">ANGULAR</div>

      <ul class="nav-links">
    
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  
        <div class="menu">
          <li routerLink = "">HOME</li>
          <li routerLink = "personajes">CHARACTERS</li>
          <li routerLink = "rick-morty" class="services">RICK & MORTY API</li>

         <!--  <li><a href="/">CONTACT</a></li> -->
        </div>
      </ul>
    </nav>
  </body>