<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

<h1>Your Favorite Characters</h1>



<body>
    <div>
        <form [formGroup]="Formulario" (ngSubmit)="onSendForm($event)">
            <input formControlName='character' type="text" id="fname" name="name" placeholder="Character Name">
            <br>
            <br>
            <input type="text" id="fname" name="picture" placeholder="Pircture Url" formControlName="urlPic"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Picture</th>
        </tr>
    </thead>
</table>
<table *ngFor="let char of favoriteCharacters, let i = index">
    <tbody>
        <tr>
            <td>{{char}}</td>
            <td><img src="{{pictureUrl[i]}}" width="50%" height="50%"></td>
        </tr>
    </tbody>
</table>
<hr>